extends layout

block content
  nav
    a(href="/") Home
    if !isLoggedIn
      a.login(href="/login") Login
      a.signup(href="/signup") Sign up
    if isLoggedIn
      span= user.name
      if user.membership !== 'premium' || user.membership !== 'admin'
        a(href="/upgrade_membership") Upgrade Membership
      a(href="/logout") Log out

  h1.home= title

  for message in messages
    div.message
      h2= message.title
      if isLoggedIn
        if user.membership === 'premium'
          span= message.createdBy
      p= message.text
      span= message.created_at_formatted
  
  footer
    span Members Only &copy;